modules = ["nodejs-20", "web", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"
packages = ["poppler_utils"]

[[ports]]
localPort = 5000
externalPort = 80

[env]
PORT = "5000"

[deployment]
deploymentTarget = "autoscale"
run = ["node", "./dist/index.cjs"]
build = ["npm", "run", "build"]
publicDir = "dist/public"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[agent]
integrations = ["javascript_openai_ai_integrations:2.0.0", "javascript_gemini_ai_integrations:2.0.0"]

[userenv]

[userenv.shared]
GEMINI_API_KEY = "AIzaSyADwLe-0mFSYbpPfXa9U_-eAFbGvVcPAy8"
GEMINI_MODEL = "gemini-2.5-flash-lite"
VITE_GOOGLE_CLIENT_ID = "50003181647-q0tk89lgl9skfn4a5i5fha2cr1nrl68k.apps.googleusercontent.com"
VITE_FF_LOGIN_URL = "https://84e2afd4-aced-4375-a432-63e8f5bfd3c2-00-1jrgs275k2xm7.pike.replit.dev/login"
VITE_FF_CAS_REDIRECT = "https://84e2afd4-aced-4375-a432-63e8f5bfd3c2-00-1jrgs275k2xm7.pike.replit.dev/cas-analyzer"
GOOGLE_SHEETS_WEBHOOK_URL = "https://script.google.com/macros/s/AKfycbzJNLlvkv46wzCKlyNhB_PeR1CPDD1Y0FBjzbT56O3kD93O2_G0Nk8HFcXmuauHZAOYbQ/exec"
GOOGLE_SHEETS_ID = "173vOPcxfE6M9KsAAEqZA7wplpODBFluwuxhQUClqCfk"
